body {
    background:lavender;
    background-image: url('/images/pic2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main-content {
    flex-grow: 1;
    text-align: center;
}

footer {
    color: #888888;
    border-top: 1px solid rgb(116, 126, 139) ;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}
header {
    margin-top:16px ;
    margin-bottom: 48px;
}
h1 {
    font-size: 64px;
    margin-bottom: 16px;
}
header a{
    color: lightgray;
    margin-right: 16px;
    text-decoration: none; 
}
.portrait {
    width: 150px;
    padding: 50px;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
    text-align: center;     
}

button{
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}

#wlcm-msg{
    padding-top: 40px;
    color:white;   
    text-align: center; 
}

#about-text{
    text-shadow: #888888;
    text-align: center;
    padding-bottom: 30px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

#msg-1, #msg-2 {
    color: lightsteelblue;
}

